<nav id="menu">
  <ul>
    {% for item in site.data.navigation %}
    <li class="title menu">
      <a href="{% if(item.folder[0]) %}{{item.folder}}{{ item.link }}{% else %}{{ item.link }}{% endif %}"
        {% if page.url == item.link OR page.url == item.cat.link %}style="color: red;"{% endif %}>
        {{ item.name }}
      </a>
      {% if item.cat[0] %}
      <ul id="sub-menu">
        {% for subentry in item.cat %}
        <li><a href="{{ item.name }}{{ subentry.link }}">{{ subentry.name }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</nav>